<html>
<head>
  <title>404 - 2FA Transmit</title>
  <link href="/css/2fa-transmit.css" rel="stylesheet" />
  <link href="/css/404.css" rel="stylesheet" />
</head>
<body>
    <h1>404</h1>

    <p>This resource could not be found</p>
</body>
</html>
