<html>
<head>
  <title><%= filename %> - 2FA Transmit Dispatch</title>
  <meta name="viewport" content="width=device-width, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link href="/css/2fa-transmit.css" rel="stylesheet" />
  <link href="/css/dispatch.css" rel="stylesheet" />
  <script src="/js/2fa-transmit.js"></script>
</head>
<body>
  <section class="meta">
    <h1 class="filename"><%= filename %></h1>
  </section>

  <section class="link">
    Shareable Link
    <a class="public" href="/file/<%= id %>" target="_blank"></a>
  </section>

  <section class="info">
    File have been received and encrypted. You are the only one with the decryption key. You have to accept every request to download it. Requests will appear below. If you leave this page the file
    will be unavailable to anyone until you come back.
  </section>

  <template class="request">
    <div class="request">
      <div class="timeout"></div>
      <div class="signature"></div>
      <div class="buttons">
        <button name="allow">Allow</button>
        <button name="ignore">Ignore</button>
      </div>
    </div>
  </template>

  <div class="requests" data-id="<%= id %>">
  </div>

  <script src="/js/dispatch.js"></script>
</body>
</html>
