<html>
<head>
  <title>Download File - 2FA Transmit</title>
  <link href="/css/2fa-transmit.css" rel="stylesheet" />
  <link href="/css/download.css" rel="stylesheet" />
</head>
<body>
  <section class="download">
    <h1>Download File</h1>

    <form action="/file/<%= fileId %>/download" method="GET">
      <input type="text" name="sign" value="<%= sign %>" />
      <button type="submit">Request</button>
    </form>

    <div class="wait">
      <div class="spinner"></div>
      <p>Requesting as <span class="signature">xxxx</span></p>
    </div>
  </section>

  <script src="/js/download.js"></script>
</body>
</html>
