<html>
<head>
  <title>Upload File - 2FA Transmit</title>
  <link href="/css/2fa-transmit.css" rel="stylesheet" />
  <link href="/css/upload.css" rel="stylesheet" />
</head>
<body>
  <section class="upload">
    <h1>Upload File</h1>

    <div class="progress-bar">
      <div class="progress"></div>
    </div>

    <form id="upload" action="/file/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>
  </section>

  <script type="text/javascript" src="/js/upload.js"></script>
</body>
</html>
