<html>
<head>
  <title>Upload File - 2FA Transmit</title>
  <meta name="viewport" content="width=device-width, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link href="/css/2fa-transmit.css" rel="stylesheet" />
  <link href="/css/upload.css" rel="stylesheet" />
  <link rel="manifest" href="/manifest.json" />
  <script src="/js/2fa-transmit.js"></script>
</head>
<body>
  <section class="upload">
    <h1>Upload File</h1>

    <div class="progress-bar">
      <div class="progress">
        <span class="text"></span>
      </div>
    </div>

    <form id="upload" action="/file/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>
  </section>

  <script type="text/javascript" src="/js/upload.js"></script>
</body>
</html>
