body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 5vw;
  letter-spacing: -0.035em;
  margin-top: 0;
}

button {
  border: 0;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: .2em;
  outline: none;
  padding: .7em 1.2em;
  text-transform: uppercase;
}

input {
  font-size: 18px;
  outline: none;
}


.progress-bar {
  position: absolute;
    left: 0;
    right: 0;
  transform: translateY(-2.1em);
}

  .progress-bar .progress {
    background: #00eed2;
    border-radius: 0 3px 3px 0;
    height: 9px;
    position: relative;
    transition: .2s width ease;
    width: 0;
  }

  .progress-bar .text {
    font-size: 20px;
    margin-top: -0.2em;
    position: absolute;
      right: -0.3em;
    width: 0;
  }
