body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.meta h1 {
  margin: .6em;
  text-align: center;
}

.info {
  color: #bfbfbf;
  font-size: 12px;
  margin: 1em;
  max-width: 42em;
}

.requests {
  display: flex;
  flex-direction: column-reverse;
  min-width: 400px;
}

  .requests .request {
    background: #ff1a8a;
    color: #fff;
    margin: 1em;
    padding: 1em;
    text-align: center;
  }

    .requests .request.allowed {
      background: #6effab;
    }

      .requests .request.allowed button {
        cursor: pointer;
        opacity: .2;
        pointer-events: none;
      }

    .requests .request .timeout {
      font-weight: bold;
      letter-spacing: .1em;
      opacity: .6;
      text-align: right;
    }

    .requests .request .signature {
      font-size: 48px;
      font-weight: bold;
      margin: .2em 0 .7em;
    }

    .requests .request .buttons {
      font-size: inherit;
      display: flex;
      justify-content: space-between;
    }

    .requests .request button {
      border: 0;
      background: #000;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      padding: .7em 1.2em;
      text-transform: uppercase;
    }

      .requests .request button[name="ignore"] {
        order: 1;
      }

      .requests .request button[name='allow'] {
        order: 2;
      }

.link {
  font-weight: 200;
  letter-spacing: .075em;
}

  .link .public {
    color: #ff1a8a;
    font-weight: normal;
    text-decoration: none;
  }
