@keyframes rotate {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

body {
  justify-content: center;
}

.step {
  display: none;
}

.requesting .step.request {
  display: block;
}

.waiting .step.wait {
  display: block;
}

.downloading .step.download {
  display: block;
}

.ready .step.ready {
  display: block;
}

  .download .request input[name=sign] {
    border: 0;
    border-bottom: solid 1px black;
    font-size: 24px;
    letter-spacing: .2em;
    margin: 1em 1em 1em 0;
    padding: .3em;
    width: 16em;
  }

  .download .wait {
    text-align: center;
  }

    .download .pacifier {
      animation: rotate 3s infinite linear;
    }

    .download .wait p {
      font-size: 1.5em;
      text-align: center;
    }

    .download .wait .signature {
      font-size: larger;
      font-weight: bold;
      letter-spacing: 0.1em;
    }



