<!DOCTYPE html>
<html>
<head>
  <title>Dispatch</title>
</head>
<body>
  <template class="request">
    <div class="request">
      <div class="filename"></div>
      <div class="signature"></div>
      <div class="buttons">
        <button name="allow">Allow</button>
        <button name="ignore">Ignore</button>
      </div>
    </div>
  </template>

  <div class="requests" data-receipt="<%= receipt %>">

  </div>

  <script src="/js/dispatch.js"></script>
</body>
</html>
